html {
    overscroll-behavior-y: none;
    overflow-x: hidden;
}

/* General Website Style rules */
body {
    font-family: "Helvetica", Sans-Serif;
    background-image: url("../images/background6.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    height: 2px;
    border: 0;
    width: 92%;
    border-top: 2px solid black;
}

a {
    color: black;
}

/*Agenda*/
.agenda-bar {
    position: fixed;
    top: 0;
    text-align: right;
    padding: 10px;
    width: 98%;
    z-index: 100;

}

.agenda-option {
    color: black;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}

.agenda-option:hover {
    background-color: #2d3b3d;
    color: white;
}

.title {
    -ms-transform: translateY(40%);
    transform: translateY(40%);
    height: 200px;
    text-align: center;
}

.title a {
    font-size: 40px;
}

/*Layouts*/
.layout {
    display: grid;
    margin: 0px 50px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    text-align: center;
    grid-auto-flow: column dense;
}

.layout a {
    font-size: 30px;
}

.star {
    height: 20px;
}

.project {
    background: #b0b0b0;
    font-size: 20px;
    border-radius: 10px;
    opacity: 90%;
    height: 500px;
    margin: 0;
    padding: 20px;
    text-align: justify;
}

.photo {
    height: 250px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.project-title {
    float: left;
    font-size: 29px;
    vertical-align: bottom;
}


.project-date {
    float: left;
    font-size: 20px;
    font-style: italic;
    color: #696969;
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.project p {
    /*margin: 15x;*/
    padding: 5px 20px;
}